<main>
  <img src="https://assets.makersacademy.com/images/logo/ma-wordmark-red.png" height=112 width=895 class="brand">

  <h1>Whoops.</h1>

  <p>Something went wrong. Please try again, then get in touch with us so we can fix it for everyone.</p>

  <a class="button" href="mailto:contact@makersacademy.com">Email us (contact@makersacademy.com)</a>

  <a class="button" href="tel:+442038178870">Call us (020 3817 8870)</a>
</main>