<main>
  <img src="https://assets.makersacademy.com/images/logo/ma-wordmark-red.png" height=112 width=895 class="brand">

  <h1>Got it.</h1>

  <p>We're sad to see you go. But thank you for letting us know!</p>

  <h2>Any questions?</h2>

  <p>Feel free to mail us at <a href="mailto:contact@makersacademy.com">contact@makersacademy.com</a> – or pick up the phone and have a natter with us on <a href="tel:+442038178870">020 3817 8870</a>.</p>

  <h3>I regret everything!</h3>
  <p>Changed your mind? You can resubscribe to communications with us from the link below.</p>

  <a class="button" href="https://www.makersacademy.com">Go to Makers Academy website</a>
</main>