<main>
  <img src="https://assets.makersacademy.com/images/logo/ma-wordmark-red.png" height=112 width=895 class="brand">

  <h1>Woohoo!</h1>

  <p>You've opted-in to receive things from us. Thank you for keeping in contact!</p>

  <h2>Any questions?</h2>

  <p>Feel free to mail us at <a href="mailto:contact@makersacademy.com">contact@makersacademy.com</a> – or pick up the phone and have a natter with us on <a href="tel:+442038178870">020 3817 8870</a>.</p>

  <h3>I regret everything!</h3>
  <p>Changed your mind? You can unsubscribe from communications with us in the email that sent you here.</p>
</main>